@{
    ViewBag.Title = "考勤统计";
    Layout = "~/Areas/Admin/Views/Shared/_ListLayout.cshtml";
}

<script src="~/Areas/Admin/scripts/Choose.js"></script>
<link href="~/Areas/Admin/Style/choose.css" rel="stylesheet" />


@section search{
    <table class="SearchTable">

        <tr class="Trbgc_Top">
            <th>
                <label class="control-label">
                    考勤人 ：
                </label>
            </th>
            <td>  
                <input type="text" class="layui-input" id="LOGON_NAME" name="LOGON_NAME" placeholder="请选择考勤人" readonly onclick="ChooseCheckUser()">
            </td>

            <th>
                <label class="control-label">
                    考勤时间：
                </label>
            </th>
            <td style="">
                <div class="col-sm-5">
                    <input type="text" class="layui-input Day" isminvalue="true" name="KqDate">
                </div>
                <div class="col-sm-1">
                    ~
                </div>
                <div class="col-sm-5">
                    <input type="text" class="layui-input Day" ismaxvalue="true" name="KqDate">
                </div>
            </td>
        </tr>

    </table>

}

<table id="grid">
    <thead>
        <tr>
            <th data-options="field:'LOGON_NAME',width:'15%',align:'center',sortable:true">
                考勤人
            </th>
            <th data-options="field:'checkCount',width:'10%',align:'center',sortable:true">
                考勤次数
            </th>
            @*<th data-options="field:'CheckUserName',width:'15%',align:'center',sortable:true">
                缺勤次数
            </th>*@
            <th data-options="field:'NormalCheckCount',width:'10%',align:'center',sortable:true">
                正常打卡次数
            </th> 
            <th data-options="field:'DangerCheckCount',width:'10%',align:'center',sortable:true">
                异常打卡次数  
            </th> 
        </tr>
    </thead>
</table>



<div id="Choose"></div>
<input type="hidden" class="item" /> 

<script>

    $(".breadcrumb li:eq(1)").text("考勤统计列表")
    $(".add , .del").remove();


    var params = {
        sortName: "KeyinDay",
        sortOrder: "asc", 
        pagination: false,
        frozenColumns: true,
        url:"@Url.Action("GetCheckData")"
    }



   
    function ChooseCheckUser() {
        $(".item").val("#LOGON_NAME/DISPLAY_NAME");
        OpenChooseW7("人员选择", "Users", false)
    }
     
     
</script>
