<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="JeedaaDBConnectionsConfig" type="Jeedaa.Framework.Config.DBConnectionsInfoHandlers, Jeedaa.Framework.Tools" />

  </configSections>
  <JeedaaDBConnectionsConfig default="Jeedaa_Base" database_mode="off" default_entcode="Admin"> 
    <Jeedaa_Base type="System.Data.SqlClient.SqlConnection" conn_string="server=inner.Jidait.com;uid=sa;PWD=Jidait?506;database=HR;enlist=true" /> 
  </JeedaaDBConnectionsConfig>
	  <appSettings> 
      
    <add key="WXAppID" value="wxf13bb0fa345b8368" />
    <add key="WXSecret" value="66d9f310d2300db1f6bee70c0d0faa96" />
    <add key="WXTemplateID" value="TOabnlsspzdWsWYC_DJ-WcpvhwYbT9h80eRFJidaitSky3Q" />

    <add key="GetAccessTokenURL" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&amp;appid={{AppID}}&amp;secret={{AppSecret}}"/>
      
      
    <add key="OAuth20URL" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid={{AppID}}&amp;response_type=code&amp;scope=snsapi_base&amp;state=STATE&amp;redirect_uri={0}"/>
    <add key="OAuth20GetAccessTokenURL" value="https://api.weixin.qq.com/sns/oauth2/access_token?appid={{AppID}}&amp;secret={{AppSecret}}&amp;code={0}&amp;grant_type=authorization_code"/>
     
    <!--<add key="Web_Host" value="http://inner.Jidait.com:8184" />-->
    <add key="Web_Host" value=" http://localhost:52996" />
     
    <add key="LoginUrl" value="/Admin/Gate/Login" />
 
    <add key="ServerAddress" value="http://inner.Jidait.com:8184" />
      
    <add key="suiteSecret" value="9NxYnGTmJW0XBTwPZO86K5FjDQqEPs1e9T2hvEBSVj8hdL_WP3nx3rc6p0slVg2z" />
    <add key="suiteKey" value="suite45li9nvbtkuoappg" />

      
      
    <add key="useProce" value="true" />
    <add key="dataBaseName" value="HR" />
      
  </appSettings>
  <connectionStrings>
    <add name="HR_ConstructionEntities" connectionString="metadata=res://*/Main.csdl|res://*/Main.ssdl|res://*/Main.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=inner.jidait.com;initial catalog=HR;persist security info=True;user id=sa;password=Jidait?506;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 
  <system.web>
    <!--<sessionState mode="InProc" timeout="60"  cookieless="false"/>-->
    <customErrors mode="Off"></customErrors>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <directoryBrowse enabled="true" />
        <staticContent> 
        </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>